{% extends "layout.html" %}

{% block title %}Make an offer{% endblock %}

{% block content %}
<h2>Make an offer</h2>
<form action="/submit_request" method="POST">

  {% for selected_id in selected_ids %}
    <input type="hidden" name="selected_ids" value='{{ selected_id | tojson }}'>
  {% endfor %}

  <button type="submit">Send offer</button>

  <hr>

  <h3>Target Pokémon</h3>

  <div class="pokemon-container">
    <div class="pokemon">
        {% if requested_pokemon.nickname %}
        <h3>{{ requested_pokemon.name }} a.k.a. {{ requested_pokemon.nickname }}</h3>
        {% else %}
        <h3>{{ requested_pokemon.name }}</h3>
        {% endif %}
      <img src="/pokemon_sprite/{{ requested_pokemon.id }}" alt="{{ requested_pokemon.name }} sprite">
      <br />

      <ul>
        <li>Name: {{ requested_pokemon.name }}</li>
        {% if requested_pokemon.nickname %}
        <li>Nickname: {{ requested_pokemon.nickname }} </li>
        {% endif %}
        <li>Type: {{ requested_pokemon.types }}</li>
      </ul>
      <br/>
       <input type="hidden" name="requested_pokemon_id" value="{{ requested_pokemon.id }}">
    </div>
  </div>

  <hr>

  <h3>Your Pokémon</h3>
  <p>
  {% if page > 1 %}
    <button
      type="submit"
      formmethod="POST"
      formaction="/trading/make_offer/{{ requested_pokemon.id }}/page/{{ page - 1 }}"
      class="link-button">
      &lt;&lt;
    </button>
  {% else %}
    <span style="visibility:hidden">&lt;&lt;</span>
  {% endif %}

  Page {{ page }}/{{ page_count }}

  {% if page < page_count %}
    <button
      type="submit"
      formmethod="POST"
      formaction="/trading/make_offer/{{ requested_pokemon.id }}/page/{{ page + 1 }}"
      class="link-button">
      &gt;&gt;
    </button>
  {% endif %}
  </p>

  <div class="pokemon-container">
    {% for pokemon in requester_pokemon %}
    <div class="pokemon">
      {% if pokemon.nickname %}
      <h3>{{ pokemon.name }} a.k.a. {{ pokemon.nickname }}</h3>
      {% else %}
      <h3>{{ pokemon.name }}</h3>
      {% endif %}
      <img src="/pokemon_sprite/{{ pokemon.id }}" alt="{{ pokemon.name }} sprite">
      <br />

      <ul>
        <li>Name: {{ pokemon.name }}</li>
        {% if pokemon.nickname %}
        <li>Nickname: {{ pokemon.nickname }} </li>
        {% endif %}
        <li>Type: {{ pokemon.types }}</li>
        <label>
          <input
            type="checkbox"
            name="requester_pokemon_ids"
            value='{{ {"page": page, "id": pokemon.id} | tojson }}' {% if pokemon.id in id_set %}checked{% endif %}>
        Include Pokémon in offer
      </label>
      </ul>
    </div>
  {% endfor %}
  </div>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% endblock %}
