<!DOCTYPE html>
<html>

<head>
  <title>Pokémonin päivitys</title>
</head>

<body>
  <h2>{{ pokemon.name }}</h2>

  <p>
    <a href="/">Etusivu</a>
    <a href="/location-area/">Etsi pokémoneja</a>
    <a href="/my_pokemon">OmaPokémon</a>
  </p>

  <div class="navigation">
      <a href="/my_pokemon">Takaisin</a>
  </div>

  <div class="pokemon">
    <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }} sprite">
    <br />
    <p>Nimi: {{ pokemon.name }}</p>
    <form action="/my_pokemon/update/{{ pokemon.id }}" method="POST">
      <label for="nickname">Lempinimi: {{ pokemon.nickname }} </label>
      <input type="text" id="nickname" name="nickname" placeholder="Anna uusi lempinimi" maxlength="20">


      <p>Tyyppi: {{ pokemon.types }}</p>
      <p>Seuraava muoto: {{ pokemon.next_evolution }}</p>
      <p>{{ pokemon.flavor_text }}</p>
      <p>Lisää uusi tilasto/kyky:</p>
      <ul>
        <li>
          <input type="text" name="new_stat" placeholder="Tilaston nimi" maxlength="20">:
          <input type="text" name="new_stat_value" placeholder="Tilaston arvo">
        </li>
      </ul>
     <button type="submit">Tallenna muutokset</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>

      <p>Tilastot:</p>
      <ul>
        {% for stat in stats %}
        <li>{{ stat.stat }}: {{ stat.value }}
          {% if stat.is_base_stat == 0 %}
            <form action="/my_pokemon/delete_stat/{{ pokemon.id }}/{{ stat.id }}"
                  method="POST"
                  style="display:inline;">
            <button type="submit">Poista</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
          </form>
          {% endif %}
        </li>
        {% endfor %}

    <form action="/my_pokemon/delete/{{ pokemon.id }}"
          method="POST"
          onsubmit="return confirm('Haluatko varmasti poistaa tämän Pokémonin?');">
      <button type="submit" style="background-color:red; color:white; margin-top:20px">Poista Pokémon</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
  </div>


</body>

</html>
