{% extends "layout.html" %}

{% block title %}Pokemon-App{% endblock %}

{% block content %}
<h2>{{ pokemon.name }}</h2>


<div class="pokemon">
  {% if pokemon.nickname %}
  <h3>{{ pokemon.name }} a.k.a. {{ pokemon.nickname }}</h3>
  {% else %}
  <h3>{{ pokemon.name }}</h3>
  {% endif %}
  <img src="/pokemon_sprite/{{ pokemon.id }}" alt="{{ pokemon.name }} sprite">
  <br />
  <p>Name: {{ pokemon.name }}</p>
  <form action="/my_pokemon/update/{{ pokemon.id }}" method="POST">
    <label for="nickname">Nickname: {{ pokemon.nickname }} </label>
    <input type="text" id="nickname" name="nickname" placeholder="Give a nickname" maxlength="20">


    <p>Type: {{ pokemon.types }}</p>
    <p>Next evolution: {{ pokemon.next_evolution }}</p>
    <h4>Description:</h4>
      <p>{{ pokemon.flavor_text }}</p>
    <p>Add a new statistic/skill:
      <br/>
      <input type="text" style="width: 150px" name="new_stat" placeholder="Skill name" maxlength="20">:
      <input type="text" style="width: 70px" name="new_stat_value" placeholder="Skill value" maxlength="3">
    </p>
    <button type="submit">Save changes</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  </form>

  <p>Statistics:</p>
  <ul>
    {% for stat in stats %}
    <li>{{ stat.stat }}: {{ stat.value }}
      {% if stat.is_base_stat == 0 %}
      <form action="/my_pokemon/delete_stat/{{ pokemon.id }}/{{ stat.id }}" method="POST" style="display:inline;">
        <button type="submit">Remove</button>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      </form>
      {% endif %}
    </li>
    {% endfor %}

    <form action="/my_pokemon/delete/{{ pokemon.id }}" method="POST"
      onsubmit="return confirm('Are you sure you want to delete this Pokémon');">
      <button type="submit" style="background-color:red; color:white; margin-top:20px">Delete Pokémon</button>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    </form>
</div>
{% endblock %}
