<!DOCTYPE html>
<html>

<head>
  <title>Alueen pokémonit</title>
</head>

<body>
  <h2>Alueen pokémonit</h2>

  <p>
    <a href="/location-area/">Etsi pokémoneja</a>
  </p>

  <div class="navigation">
  {% if session["current_locations_url"] %}
    <a href="/location-area/current">Takaisin</a>
  {% else %}
    <a href="/location-area/">Takaisin</a>
  {% endif %}
  </div>

  <ul>
  {% for encounter in encounters %}
    <li><a href="/location-details/{{ encounter }}">{{ encounter["pokemon"]["name"] }}</a></li>
  {% endfor %}
  </ul>
</body>

</html>
