<!DOCTYPE html>
<html>

<head>
  <title>Alueen pokémonit</title>
</head>

<body>
  <h2>Alueen pokémonit</h2>

  <p>
    <a href="/location-area">Etsi pokémoneja</a>
  </p>

  <div class="navigation">
  {% if session["previous_locations_url"] %}
    <a href="/location-area/previous">Edellinen</a>
  {% endif %}
  {% if session["next_locations_url"] %}
    <a href="/location-area/next">Seuraava</a>
  {% endif %}
  </div>

  <ul>
  {% for encounter in encounters %}
    <li><a href="/location-details/{{ encounter }}">{{ encounter["pokemon"]["name"] }}</a></li>
  {% endfor %}
  </ul>
</body>

</html>
