<!DOCTYPE html>
<html>

<head>
  <title>Pokémon</title>
</head>

<body>
  <h2>Pokémon</h2>

  <p>
    <a href="/location-area/">Etsi pokémoneja</a>
  </p>

  <div class="navigation">
  {% if session["current_area"] %}
      <a href="/encounters/{{ session["current_area"] }}">Takaisin</a>
  {% else %}
    <a href="/location-area/">Takaisin</a>
  {% endif %}
  </div>

  <div class="pokemon">
    <img src="{{ pokemon.sprites.front_default }}" alt="Pokemon sprite">
    <p>{{ pokemon.flavor_text }}</p>
    <ul>
      <li>Nimi: {{ pokemon.name }}</li>
      <li>Pituus: {{ pokemon.height / 10 }}m</li>
      <li>Paino: {{ pokemon.weight / 10 }}kg</li>
      <li>Tyyppi:
        <ul>
          {% for type in pokemon.types %}
          <li>{{ type.type.name }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>Kokemuspisteet: {{ pokemon.base_experience }}</li>
      <li>Tilastot:
        <ul>
          {% for stat in pokemon.stats %}
            <li>{{ stat.stat.name }}: {{ stat.base_stat }}</li>
          {% endfor %}
        </ul>
      </li>
      {% if pokemon.next_evolution %}
      <li>Seuraava muoto: {{ pokemon.next_evolution }}</li>
      {% endif %}
    </ul>
  </div>

  <form action="/capture_pokemon/{{ pokemon.name }}" method="post">
    <input type="hidden" name="name" value="{{ pokemon.name }}">
    <input type="hidden" name="height" value="{{ pokemon.height }}">
    <input type="hidden" name="weight" value="{{ pokemon.weight }}">
    <input type="hidden" name="types" value='{{ pokemon.types | tojson }}'>
    <input type="hidden" name="base_experience" value="{{ pokemon.base_experience }}">
    <input type="hidden" name="stats" value='{{ pokemon.stats | tojson }}'>
    <input type="hidden" name="next_evolution" value="{{ pokemon.next_evolution }}">
    <input type="hidden" name="flavor_text" value="{{ pokemon.flavor_text }}">
    <input type="hidden" name="sprite" value="{{ pokemon.sprites.front_default }}">
      <input type="submit" value="Nappaa {{ pokemon.name }}"/>
  {% if capture_result %}
  <p style="color: green;">{{ capture_result }}</p>
  {% endif %}

  </form>
</body>

</html>
