<!DOCTYPE html>
<html>

<head>
  <title>Alueet</title>
</head>

<body>
  <h2>Alueet</h2>

  <p>
    <a href="/location-area/">Etsi pokémoneja</a>
  </p>

  <div class="navigation">
  {% if session["previous_locations_url"] %}
    <a href="/location-area/previous">Edellinen</a>
  {% endif %}
  {% if session["next_locations_url"] %}
    <a href="/location-area/next">Seuraava</a>
  {% endif %}
  </div>

  <ul>
  {% for area in areas %}
    <li><a href="/location-details/{{ area.name }}">{{ area.name }}</a></li>
  {% endfor %}
  </ul>
</body>

</html>
