{% extends "layout.html" %}

{% block title %}My Pokémon{% endblock %}

{% block content %}
<h2>My Pokémon</h2>

<div class="pokemon-container">
  {% for pokemon in pokemons %}
  <div class="pokemon" id="pokemon-{{ pokemon.id }}">
    {% if pokemon.nickname %}
    <h3>{{ pokemon.name }} a.k.a. {{ pokemon.nickname }}</h3>
    {% else %}
    <h3>{{ pokemon.name }}</h3>
    {% endif %}
    <img src="{{ pokemon.sprite }}" alt="{{ pokemon.name }} sprite">
    <br />
    <a href="/my_pokemon/edit_pokemon/{{ pokemon.id }}">Inspect and develop</a>

    <ul>
      <li>Name: {{ pokemon.name }}</li>
      <li>
        <form action="/my_pokemon/change_status/{{ pokemon.id }}#pokemon-{{ pokemon.id }}" method="post">
          {% if pokemon.status %}
          <label for="status">Status: {{ pokemon.status}} </label>
          {% else %}
          <label for="status">Status: Not selected </label>
          {% endif %}
          <select name="status" id="status" onchange="this.form.submit()">
            <option value="{{ pokemon.status }}">(select)</option>
            {% for status in statuses %}
            <option value="{{ status.value }}">{{ status.value }}</option>
            {% endfor %}
          </select>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        </form>
      </li>
      {% if pokemon.nickname %}
      <li>Nickname: {{ pokemon.nickname }} </li>
      {% endif %}
      <li>Type: {{ pokemon.types }}</li>
    </ul>
    <h4>Description:</h4>
      <p>{{ pokemon.flavor_text }}</p>
    <br/>
  </div>
{% endfor %}
</div>
{% endblock %}
